In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,StratifiedShuffleSplit

In [2]:
house =pd.read_csv("F:\Python\csvpandas\housing.csv")
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
#house.hist(bins=30,figsize=(30,25))()
x=house.iloc[:,0:14].values
y=house.iloc[:,[13]].values

In [4]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=.2,stratify =house['CHAS'],random_state=0)

In [6]:
corr_matrix=house.corr()
corr_matrix['MEDV'].sort_values(ascending=False)

MEDV       1.000000
RM         0.695360
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
LSTAT     -0.737663
Name: MEDV, dtype: float64

In [13]:
from sklearn.tree import DecisionTreeRegressor

In [14]:
lr=DecisionTreeRegressor()
lr.fit(train_x,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [15]:
lr.predict(test_x)

array([50. , 19.3, 30.5, 11.9, 14.9, 22.9, 32.4, 26.4, 19.3, 31.2, 14.1,
       20.1, 50. , 14.9, 36.2, 23.1, 23.2, 16.3, 19.5, 13.4, 21. , 21.7,
        5. , 23.7, 18.9, 19.4, 24.7, 24.8, 33. ,  8.4, 21.9, 14.3, 14.5,
       19.9, 23.1, 12.5, 19.4, 14.2, 36.2, 23.4, 34.9, 33. , 13.4, 18.1,
       13.1, 18.9, 20.1, 23.2, 48.5, 27.5, 24.8, 28. , 33. , 19.6, 25. ,
       16.1, 23.1, 22. , 11.9, 17.2, 12.5, 22.9, 21.5, 36.2, 17.8, 13.8,
       50. , 27.5, 18.5, 19.5, 23.9, 24.1, 31.6, 32. , 17.9, 50. , 37.3,
       37.9, 24.8, 11.5, 22.1, 20.3, 24.6, 14.1, 14.2, 36. , 24.3, 21.7,
       17.4, 23.6, 42.8, 22. , 16.5, 24.4, 25.1, 31.5, 19.7, 12.5, 11.9,
        8.3, 31.1, 12.5])

In [16]:
test_y

array([[50. ],
       [19.3],
       [30.8],
       [11.8],
       [14.9],
       [22.9],
       [33.1],
       [26.4],
       [19.2],
       [31.5],
       [14.1],
       [20.1],
       [50. ],
       [14.9],
       [37. ],
       [23.1],
       [23.2],
       [16.2],
       [19.5],
       [13.4],
       [21. ],
       [21.7],
       [ 5. ],
       [23.7],
       [19. ],
       [19.4],
       [24.7],
       [24.8],
       [32.9],
       [ 8.4],
       [21.9],
       [14.3],
       [14.5],
       [19.9],
       [23.1],
       [12.7],
       [19.4],
       [13.8],
       [36.2],
       [23.4],
       [34.9],
       [32.7],
       [13.4],
       [18.3],
       [13.2],
       [18.9],
       [20.1],
       [23.2],
       [48.8],
       [27. ],
       [24.8],
       [27.9],
       [33.2],
       [19.6],
       [25. ],
       [16.2],
       [23.1],
       [22. ],
       [12. ],
       [17.2],
       [12.6],
       [22.8],
       [21.5],
       [36.1],
       [18. ],
       [13.8],
       [50. ],
       [27.5],
       [18.4],
       [19.5],
       [23.9],
       [24.1],
       [32. ],
       [31.6],
       [17.8],
       [50. ],
       [36.4],
       [37.2],
       [24.8],
       [11.7],
       [22.2],
       [20.3],
       [24.5],
       [13.8],
       [13.9],
       [36.5],
       [24.2],
       [21.7],
       [17.4],
       [23.6],
       [42.3],
       [22. ],
       [16.6],
       [24.4],
       [25.3],
       [31. ],
       [19.8],
       [12.7],
       [11.8],
       [ 8.1],
       [32.2],
       [12.8]])